body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Banner style start */
.banner_container {
  /* max-width: 1320px; */
  height: 600px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("/images/bannerBG.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.banner_container h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.banner_container h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  margin-top: 5px;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle h2 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 28px;
  padding-bottom: 20px;
}

.rectangle p {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.rectangle h4 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  padding: 0;
  margin: 0;
  padding-top: 5px;
}
.rectangle img {
  margin-top: 10px;
  width: 802px;
  height: 500px;
}

.welcome {
  margin-top: 120px;
  width: 1320px;
  height: 600px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(/images/wellcome.png);
  align-items: center;
  display: flex;
  justify-content: start;
  width: 100%;
  background-size: cover;
}

.welcome h3 {
  color: #ffffff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  padding: 0;
  margin: 0;
  padding-left: 120px;
  margin-bottom: 24px;
}
.welcome p {
  padding: 0;
  margin: 0;
  color: #ffffffcc;
  margin-left: 120px;
  margin-top: 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}

.midal_content {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  ) !important;
  margin-top: 120px;
  padding-top: 100px;
}

.welcome a {
  color: #ffffff;
  margin-left: 158px;
  font-size: 20px;
  font-weight: 700;
}

.place p {
  font-size: 32px;
  text-align: center;
  line-height: 7px;
}
.subtext {
  color: #f00;
}
.joinBtn {
  display: flex;
  justify-content: center;
}
.place button {
  margin-top: 40px;
  margin-bottom: 110px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 6px;
}

.coming_soon_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 20px;
}

.left {
  width: 35%;
}
.left .title {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}
.left h2 {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
}
.left p {
  padding-right: 50px;
}
.middle {
  width: 30%;
  width: 300px;
  height: 300px;
  border: 15px solid #f00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 40px;
}

.middle img {
  width: 300px;
  height: 300px;
}
.right {
  width: 35%;
  padding-left: 100px;
}
.right h2 {
  color: #f00;
  font-size: 48px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
}

.right p {
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
}
.right img {
  width: 140px;
  height: 140px;
}

.holidays_container .title {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  color: #070211;
  font-size: 24px;
  font-weight: 500;
}
.holidays_container h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  color: #f00;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}
.holidays_container h2 span {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  color: #070211;
  font-size: 72px;
  font-weight: 900;
}
.holidays_container .sub_title {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  color: #070211;
  font-size: 24px;
  font-weight: 500;
}

.offer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 180px;
}
.offer_container .left {
  width: 50%;
}
.offer_container .left img {
  height: 432px;
}
.offer_container .right {
  width: 50%;
  display: flex;
  justify-content: end;
  position: relative;
}
.offer_container .right img {
  width: 429px;
  height: 433px;
  padding-left: 100px;
  margin-top: -251px;
}

.offer_container .right .number {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 170px;
  top: -70px;
  background: #ff0000;
  transform: rotate(-40deg);
  border: 6px solid white;
}

.offer_container .right .number h2 {
  color: white;
  color: #fff;
  font-size: 73.015px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.offer_container .right .number small {
  color: white;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.bottom_box {
  height: 230px;
  border-radius: 16px 0px 16px 16px;
  background: #f00;
  margin-top: -128px;
}

.portfolio {
  margin-top: 120px;
}
.portfolio {
  margin-top: 120px;
  padding-left: 20px;
}

.portfolio h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  color: #f00;
  font-size: 24px;
  font-weight: 500;
}
.portfolio h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 20px;
  margin-top: 48px;
}
.gallery-container img {
  width: 100%;
  height: 450px;
  border-radius: 15px;
}

.maile_div {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  padding: 80px;
}
.maile_div .email_img {
  display: flex;
  justify-content: center;
}
.maile_div .email_img img {
  width: 150px;
  height: 150px;
}
.maile_div h2 {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 16px;
}
.maile_div p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.maile_div .subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

.maile_div .subscribe div {
  background-color: white;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
}

.maile_div .subscribe div input {
  padding: 25px;
  outline: none;
  border: none;
  border-radius: 50px;
}
.maile_div .subscribe div button {
  padding: 25px 56px;
  outline: none;
  border: none;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: white;
}

.footer_container {
  background-color: #070211;
  color: white;
  padding: 120px;
}
.footer_container .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_container .first .right .phone {
  margin-bottom: 10px;
}
.footer_container .first .right .frame,
.footer_container .first .right .phone {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer_container .first .right .phone img,
.footer_container .first .right .frame img {
  width: 20px;
  height: 20px;
}

.footer_container .first .right .frame p,
.footer_container .first .right .phone p {
  padding: 0;
  margin: 0;
}

.media-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 48px 0 48px 0;
  background: #070211;
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.media-icon div {
  display: flex;
  gap: 24px;
}
.media-icon div img {
  height: 64px;
  width: 64px;
}

.copy_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
